<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!-- 数据库连接字符串-->
  <connectionStrings>
    <add name="MySQLConnString" connectionString="Data Source=localhost;Port=3306;Allow User Variables=True;Allow Zero Datetime=True;Initial Catalog=cloud;Persist Security Info=True;User ID=root;Password=123456;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" />
    <!--<httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" />-->
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <customErrors mode="On" defaultRedirect="/pages/base/404.html">
      <error statusCode="403" redirect="/pages/base/404.html" />
      <error statusCode="404" redirect="/pages/base/404.html" />
      <error statusCode="500" redirect="/pages/base/404.html" />
    </customErrors>
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".mrt" mimeType="application/json" />
      <mimeMap fileExtension=".bak" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
      <!--<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />-->
    </staticContent>
    <directoryBrowse enabled="true" />
    <security>
      <authorization>
        <add accessType="Allow" users="?" />
      </authorization>
    </security>
   
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="403" path="/pages/base/404.html" responseMode="ExecuteURL" />
      <error statusCode="404" path="/pages/base/404.html" responseMode="ExecuteURL" />
      <error statusCode="500" path="/pages/base/404.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
